# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
Jumping.h     diff=各种奇怪的函数
Random.h      diff=生成随机数
resource.h    diff=资源库
RushHour.h    diff=函数声明
RushHour.cpp  diff=main
